src/Paramecium/.vs/*
src/Paramecium/Paramecium/bin/*
src/Paramecium/Paramecium/obj/*
src/Paramecium/Paramecium/Properties/*
src/Paramecium/Paramecium/Properties/PublishProfiles/FolderProfile.pubxml.user
